@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --orange: #fa7200;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  height: 100vh;
  background-color: #faf7f3;
}

ul {
  list-style: none;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 20px;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("/public/images/hero-img.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 150px 70px;
  width: 50%;
}

.hero-text h2 {
  font-size: 55px;
  line-height: 1;
  letter-spacing: 8px;
  margin-bottom: 20px;
}

.hero-contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}
.hero-contact p {
  color: black;
  font-size: 18px;
  font-weight: bold;
}
.hero-icons {
  color: var(--orange);
  font-size: 30px;
  margin-right: 5px;
}
.short-desc {
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}

/* Hero Subscription Form */
.sub-form-grup {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}
.sub-form-grup input {
  width: 50%;
  padding: 15px;
  border-radius: 10px;
  border: none;
}

.hero-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: Poppins;
  font-size: 40px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  gap: 50px;
}
.hero-counter h3 {
  font-family: Poppins;
  font-size: 30px;
}
/* Choose Us */

.cards-header {
  font-size: 50px;
  color: var(--orange);
  text-align: center;
  text-decoration: underline;
  margin: 40px 0;
}

.choose-us {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 50px;
  margin: 70px 40px;
}

.choose-us h4 {
  font-size: 25px;
  color: var(--orange);
  margin-bottom: 20px;
}
.choose-us p {
  font-size: 18px;
  margin-bottom: 20px;
}
.choose-us i {
  font-size: 60px;
}

/* Services  */

.btn-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.btn-container button {
  background-color: var(--orange);
  color: #333333;
  font-family: Poppins;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 15px;
}
.service-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  padding: 30px;
}
.service-image {
  width: 500px;
  height: auto;
  border-radius: 15px;
}

/* Acoordion Section */

.accordion-title {
  text-align: center;
  font-size: 50px;
  color: var(--orange);
  text-decoration: underline;
  margin-top: 30px;
}

.accordion-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin: 30px;
}

.accordion-image {
  width: 500px;
  border-radius: 50%;
  background-image: url("/src/components/shared/faqs.png");
}

.single-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.single-question h3 {
  width: 80%;
}

.btn-accordion {
  color: black;
  border: 0;
  border-radius: 8px;
  color: #fff;
  width: 100px;
  height: 40px;
  cursor: pointer;
  background-color: var(--orange);
}

/* Reviews Section */

.section-revievs {
  height: 50vh;
  background-image: linear-gradient(
      rgba(238, 230, 230, 0.945),
      rgba(0, 0, 0, 0.3)
    ),
    url("/public/images/wall.jpg");
  margin: 30px;
  border-radius: 15px;
}
.reviews-title {
  text-align: center;
  color: var(--orange);
  font-size: 40px;
}
.single-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #faf7f3;
  padding: 20px;
  text-shadow: -2px 4px 20px rgba(21, 10, 1, 0.94);
}
.single-review h3 {
  font-size: 35px;
  margin-bottom: 20px;
}
.single-review h4 {
  font-size: 20px;
}
.single-review p {
  font-size: 20px;
  text-align: center;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
.prev-btn {
  border: 0;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  background-color: var(--orange);
  padding: 10px;
}
.next-btn {
  border: 0;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  background-color: var(--orange);
  padding: 10px;
  margin-right: 10px;
}

/* Contact Form */
.contact-form {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 100px;
}
.contact-form-title {
  font-size: 20px;
  width: 50vh;
}
.contact-form-title p {
  font-size: 20px;
  font-weight: bold;
  color: var(--orange);
  margin-top: 30px;
}

.formik-form {
  width: 80vh;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 100px;
}

.formik-form input {
  height: 30px;
  border: none;
  border-bottom: 1px solid var(--orange);
  padding: 20px;
  background-color: #f9f7f2;
}

.formik-form input[type="message"] {
  height: 20vh;
}
.btn-contact-rom {
  background-color: var(--orange);
  border: 0;
  border-radius: 8px;
  color: #fff;
  width: 100px;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
  cursor: pointer;
}

.card {
  background-color: #333333;
  color: #fff;
  border-radius: 15px;
  padding: 20px 20px;
  margin: 20px 0;
  position: relative;
  transition: 0.5s ease-in-out;
}

.card:hover {
  box-shadow: -2px 0px 16px 4px rgba(0, 0, 0, 0.75);
}

/* .card h2 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
} */

.btn {
  color: black;
  border: 0;
  border-radius: 8px;
  color: #fff;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--orange);
}

.btn-secondary {
  background: #ff6a95;
}

.btn:hover {
  transform: scale(0.98);
  opacity: 0.9;
}

@media (max-width: 576px) {
  .hero-text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 30px 20px;
    width: 100%;
  }

  .hero-text h2 {
    font-size: 30px;
    text-align: center;
    line-height: 1;
    letter-spacing: 6px;
    margin-bottom: 20px;
  }

  .hero-contact {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 10px;
  }
  .short-desc {
    text-align: center;
  }
  .sub-form-grup {
    flex-direction: column;
  }
  .sub-form-grup input {
    width: 100%;
  }
  .hero-counter {
    font-size: 30px;
    font-weight: bold;
  }
  .hero-counter h3 {
    font-family: Poppins;
    font-size: 20px;
  }
  .btn {
    width: 100%;
  }

  /* Revives mobile */

  .section-revievs {
    background-image: linear-gradient(
        rgba(238, 230, 230, 0.945),
        rgba(0, 0, 0, 0.3)
      ),
      url("/public/images/wall.jpg");
    margin: 30px;
    border-radius: 15px;
  }
  .reviews-title h2 {
    text-align: center;
    color: var(--orange);
    font-size: 25px;
  }
  .single-review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #faf7f3;
    padding: 10px;
    text-shadow: -2px 4px 20px rgba(21, 10, 1, 0.94);
  }
  .single-review h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .single-review h4 {
    font-size: 20px;
  }
  .single-review p {
    font-size: 20px;
    text-align: center;
  }
  .button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
  }
  .prev-btn {
    border: 0;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    background-color: var(--orange);
    padding: 10px;
  }
  .next-btn {
    border: 0;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    background-color: var(--orange);
    padding: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero-text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 30px 20px;
    width: 100%;
  }

  .hero-text h2 {
    text-align: center;
    line-height: 1;
    letter-spacing: 6px;
    margin-bottom: 20px;
  }

  .hero-contact {
    justify-content: space-evenly;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .short-desc {
    text-align: center;
  }
  .sub-form-grup {
    flex-direction: column;
  }
  .sub-form-grup input {
    width: 100%;
  }
  .btn {
    width: 100%;
  }

  /* Choose Us Tablet */

  .card {
    background-color: #333333;
    color: #fff;
    border-radius: 15px;
    padding: 10px;
  }
  .cards-header {
    font-size: 35px;
    color: var(--orange);
    text-decoration: underline;
    text-align: center;
    margin: 30px 0;
  }

  .choose-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 5px;
    margin: 30px 20px;
  }

  .choose-us h4 {
    font-size: 25px;
    color: var(--orange);
    margin-bottom: 10px;
  }
  .choose-us p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .choose-us i {
    font-size: 60px;
  }
  /* Services Tablet */

  .btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }
  .btn-container button {
    background-color: var(--orange);
    width: 100%;
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px;
  }
  .service-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 20px;
    text-align: justify;
  }
  .service-image {
    width: 400px;
    height: auto;
    border-radius: 15px;
  }

  /* Accordion Tablet */
  .accordion-title {
    text-align: center;
    font-size: 30px;
    color: var(--orange);
    text-decoration: underline;
    margin-top: 10px;
  }

  .accordion-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin: 30px;
  }

  .accordion-image {
    width: 300px;
    border-radius: 50%;
    background-image: url("/src/components/shared/faqs.png");
  }

  .single-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  .single-question h3 {
    width: 80%;
  }
  .btn-accordion {
    color: black;
    border: 0;
    border-radius: 8px;
    color: #fff;
    width: 10%;
    cursor: pointer;
    background-color: var(--orange);
  }

  /* Reviews Section Tablet*/

  .section-revievs {
    height: 50vh;
    background-image: linear-gradient(
        rgba(238, 230, 230, 0.945),
        rgba(0, 0, 0, 0.3)
      ),
      url("/public/images/wall.jpg");
    margin: 30px;
    border-radius: 15px;
  }
  .reviews-title {
    text-align: center;
    color: var(--orange);
    font-size: 25px;
  }
  .single-review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #faf7f3;
    padding: 10px;
    text-shadow: -2px 4px 20px rgba(21, 10, 1, 0.94);
  }
  .single-review h3 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .single-review h4 {
    font-size: 20px;
  }
  .single-review p {
    font-size: 15px;
    text-align: center;
  }
  .button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
  }
  .prev-btn {
    border: 0;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    background-color: var(--orange);
    padding: 10px;
  }
  .next-btn {
    border: 0;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    background-color: var(--orange);
    padding: 10px;
    margin-right: 10px;
  }

  /* Contact Form Tablet */

  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .contact-form-title h1 {
    font-size: 30px;
    text-align: center;
  }
  .contact-form-title p {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: var(--orange);
    margin-top: 30px;
  }

  .formik-form {
    width: 45vh;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 100px;
  }

  .formik-form input {
    height: 30px;
    border: none;
    border-bottom: 1px solid var(--orange);
    padding: 20px;
    background-color: #f9f7f2;
  }

  .formik-form input[type="message"] {
    height: 20vh;
  }
  .btn-contact-rom {
    background-color: var(--orange);
    border: 0;
    border-radius: 8px;
    color: #fff;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
    cursor: pointer;
  }
}
